.about {
  display: flex;
  background-color: #fff;
  max-width: 1440px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about__image {
  width: 464px;
  height: 464px;
  margin-left: 104px;
  border-radius: 152px;
}

.about__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 600px;
  margin-left: 56px;
}

.about__title {
  font-family: "Roboto-Slab";
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
}

.about__description {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 600px;
}
